<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sobre o Projeto</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
        </nav>
    </header>
    <section>
        <h2>Sobre esta Aplicação</h2>
        <p>Este projeto utiliza o Flask para criar uma interface web simples.</p>
        <p>Esta página foi criada por Lucas Garcia - GES134</p>
    </section>
</body>
</html>